<!doctype HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix Movies</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/public/app.js"></script>
</head>
<body>
    <header>
        <nav>
            <ul class="navigation-menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Movies</a></li>
                <li><a href="#">TV Shows</a></li>
                <li><a href="#">My List</a></li>
            </ul>
            
        </nav>
        <form class="search-form">
                <input type="text" placeholder="Search...">
                <button type="submit">Go</button>
        </form>
    </header>
    <main>
      <div class="container">

          <h2>Movies</h2>
          <div class="card-list" id="movieList">
           <% movies.forEach(document => { %><div>
                  <div class ="fields"><%=document.title %><br><%= document.type %>
                  <br><%= document.description %></div>
                  <div class ="buttons" id = "i<%=document._id %>">
                  </div>
              </div>
        <%}); %>
          <h2>TV Shows</h2>
          <div class="card-list" id="tvShowList">
              <% tvShows.forEach(document => { %><div>
                  <div class ="fields"><%=document.title %><br><%= document.type %><br><%= document.description %></div>
                  <div class ="buttons" id = "i<%=document._id %>">
                  </div>
              </div>
            <%}); %>
          </div>
        </div>
      </div>
      </div>
    </main>
</body>
</html>
